.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.button-red{
  color: red;
  font-size: 20px;
  width: 70px;
}
.button-blue{
  color: blue;
  font-size: 20px;
  width: 70px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.content{
	margin: 30px auto;
	width: 500px;
}
.list_content{
	text-align: left;
	margin-top: 30px;
	
}